@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff;
  padding: 2rem;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  border: none;
  background: #000000;
  color: #ffffff;
  outline: none;
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  color: #ffffff;
}

.weather_search {
  position: relative;
  width: 100%;
}

.weather_search i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #ffffff;
}

.weather_units {
  font-size: 1.2rem;
  color: #666; /* adjusted units text color */
}

.weather_units span {
  cursor: pointer;
  margin-right: 0.5rem;
}

.weather_body {
  text-align: center;
  margin-top: 2rem;
}

.weather_datetime {
  margin-bottom: 1.5rem;
  font-size: 12px;
  color: #888;
}

.weather_forecast {
  background: #333;
  color: #fff;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
}

.weather_icon img {
  width: 80px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
}

.weather_temperature {
  font-size: 1.5rem;
}

.weather_minmax {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.weather_minmax p {
  font-size: 12px;
  margin: 0 0.3rem;
}

.weather_info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.weather_card {
  display: flex;
  align-items: center;
  background: #fff;
  color: #333;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 5px 5px 35px 6px rgba(0, 0, 0, 0.1);
}

.weather_card i {
  font-size: 1.3rem;
  margin-right: 0.8rem;
}

.weather_card p {
  font-size: 12px;
}

@media (max-width: 936px) {
  .container {
    width: 90%;
  }

  .weather_header {
    flex-direction: column;
  }

  .weather_units {
    margin-top: 1rem;
    font-size: 1rem;
  }

  input {
    padding: 0.5rem 1.5rem; /* adjusted padding */
  }

  .weather_datetime {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }

  input {
    padding: 0.5rem 1rem; /* further reduced padding */
  }
}

@media (max-width: 400px) {
  input {
    width: calc(100% - 40px); /* adjusted width for smaller screens */
  }
}
